.container_collection_info {
    position: relative;
    height: 90vh;
    display: 'flex';
    justify-content: 'center';
    margin-top: 2vh;
    overflow-y: scroll;
}

.card_header_collection_info {
    max-width: 80vw;
    min-height: 42vh;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.5);
}