.nft_col_info_text {
    object-fit: contain;
    font-family: "SFPro";
    font-size: 0.874em;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #fff;
    overflow-y: auto;
}

.nft_col_info_image {
    float: left;
    width: 10vw;
    height: 10vw;
    margin: 0 1vw 0.1vh 0;
}

.nft_col_info_ic_ether_scan {
    width: 6vw;
    height: 6vw;
    margin: 0 1vw 0.1vh 0;
}