.icon_frame_label_arrow_long_button {
    width: 90.9vw;
    height: 4.3vh;
    padding: 0 3.5vw 0 2.8vw;
    background-image: url("../../assets/images/icon_frame.webp");
    background-position: center;
    align-items: center;
    display: flex;
    border-radius: 45px;
    margin: 0.5vh 0 0.5vh 0;
    /* border: 1px solid red; */
}

.label_inner_label_arrow_long_button {
    width: 80vw;
    height: 4vh;
    font-family: SFPro;
    font-size: 0.874em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 4vh;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin-left: 2.2vw;
    /* border: 1px solid red; */
}

.icon_left_label_arrow_long_button {
    width: 3.2vw;
    height: 2.5vh;
    object-fit: contain;
    /* border: 1px solid red; */
}