.placehodler_searchbar {
    width: 100%;
    max-width: 70vw;
    font-family: SFPro;
    font-size: 0.874em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 4vh;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin-left: 2.2vw;
    text-transform: none;
}