.icon_inner_circle_button {
  position: relative;
  margin: auto;
}

.bg_icon_circle_button {
  background-image: url("../../assets/images/icon_m_dark.webp");
  background-position: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
}